.app__container-places {
    display: flex;
    flex-direction: column;
}

.app__container-heading {
    display: block;
    width: 100%;
    font-size: 3.2rem;
    line-height: 5.2rem;
    margin: 0;
    margin-top: 24px;
    padding-bottom: 16px;
    text-align: left;
}

.app__container-list {
    margin: 0;
    margin-bottom: 24px;
    padding: 8px 0;
    list-style: none;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    /* height: 160px; */
}

.app__container-item {
    padding: 0;
    height: 64px;
    margin: 6px 0;
    display: flex;
}

.app__container-item--img {
    width: 64px;
    height: 64px;
    border-radius: 8px;
}

.app__container-item--img:hover {
    cursor: pointer;
}

.app__container-item--content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
    margin-right: 16px;
    font-size: 1.6rem;
    line-height: 2rem;
    color: #2c2c2c;
}

.app__container-item--content:hover {
    cursor: pointer;
}

.app__container-item--name {
    width: 100%;
    font-weight: 500;
    height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
}

.app__container-item--hours {
    display: block;
    width: 100%;
    font-weight: 300;
}

.app__container-home {
    padding: 0;
    padding-right: 12px;
}

.app__container-home:nth-child(4n) {
    margin-right: -12px;
}

.app__container-content {
    display: block;
    width: 100%;
}

.app__container-content:hover {
    cursor: pointer;
}

.app__container-home--img { 
    width: 100%;
    background-size: cover;
    border-radius: 8px;
}

.app__container-home--desc {
    margin: 0;
    padding-top: 4px;
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: 500;
    color: #222222;
}

.app__container-slider {
    height: 482px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}

.app__container-slider-img {
    position: absolute;
    background-size: cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    vertical-align: bottom;
    border-radius: 16px;
}

.app__container-slider-content {
    width: 544px;
    height: 480px;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--while-color);
}

.app__container-slider-heading {
    margin: 0;
    font-size: 4.8rem;
    line-height: 5.2rem;
    font-weight: 600;
}

.app__container-slider-desc {
    padding-top: 12px;
    font-size: 1.8rem;
    line-height: 2.4rem;
}

.app__container-slider-more {
    margin-top: 40px;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.app__container-slider-btn {
    width: 154px;
    height: 48px;
    border-radius: 8px;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 500;
}

.app__container-slider-btn:hover {
    cursor: pointer;
}

.app__container-travel-item {
    height: auto;
    padding-right: 10px;
}

.app__container-travel-item:nth-child(3n) {
    margin-right: -10px;
}

.app__container-travel--main {
    width: 100%;
}

.app__container-travel--img {
    width: 100%;
    border-radius: 8px;
}

.app__container-travel--content {
    padding-top: 8px;
}

.app__container-travel--heading {
    margin: 0;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #2d2d2d;
}

.app__container-travel--desc {
    margin-top: 4px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 400;
    color: #2c2c2c;
    height: 3.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
